/*styling for index*/
h1 {
    background-color: #38577C !important;
    height: 70px;
    line-height: 70px;
    padding: 0px 25px;
    color: white;
    font-weight: bolder;
    margin: 0px;
    font-size: 1rem;
    }

body {
    margin-bottom: 50px;
    height: 100%;
    background-image: url(../images/serverimage2.jpg);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

footer{
    background-color: #4aaaa5;
    border-top: 5px solid #777777 !important;
    position: fixed;
    font-size: 12px;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: block;
}
#loginContainer {
    display: flex;
    justify-content: center;
    align-items: center
}

nav {
    background-color: #38577C;
}