html{
    position: relative;
    min-height: 100%;  
}

body{
    background-color: #eaeded;
    margin-bottom: 50px;
}


main {
    max-width: 1500px;
    margin: 0 auto;
}

nav {
    background-color: #38577C;
}

footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #38577C;
}

/* FIX Nav-Collapse */
@media screen and (min-width: 768px) {
    
    .nav-link {
      padding: 0px 15px !important;
    }
    
    nav a {
        padding: 0px 15px;
        text-decoration: none;
        line-height: 100%;
    }
    
    nav a:link {
        color: #777777;
    }
    
    nav a:hover, nav a:hover:visited {
        color: #00a6ce !important;
    }
    
    nav a:visited {
        color: #777777;
    }
    
    nav a:first-child {
        border-left: 0px none;
        padding-left: 0px !important;
    }
    
    nav a:nth-child(even) {
        border-left: 1px solid #777777 !important;
        border-right: 1px solid #777777 !important;
    }
    
    nav a:last-child {
        border-right: none;
    }
  
  }